<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="content">
    <div class="top">
        <div class="map">
            <%- include('partials/map') %>
        </div>
        <div class="stats">
            <%- include('partials/stats') %>
        </div>
    </div>

    <div class="pollution-chart-wrapper">
        <canvas id="pollution-chart"></canvas>
    </div>
    
    <button id="update-button">Update</button>
    <!-- <button id="CO2-button">CO<sub>2</sub></button>
    <button id="NO-button">NO</button>
    <button id="NH3-button">NH<sub>3</sub></button> -->
</div>

<script src="js/index.js"></script>

<%- include('partials/footer') %>
